/* define custom properties */
:root {
    /* define custom colors */
    --color-primary: #d73953;
    --color-black: #090909;
    --color-white: #ffffff;
    --color-light-grey: #f3f3f3;
    --color-dark-grey: #353535;
    --text-color: var(--color-black); /* Default text color is black */
}

/* revisit section-tagline and card-category declarations */
.section-tagline {
    color: var(--color-primary); /* reset color to color-primary */
}

.card-category {
    color: var(--color-primary); /* reset color to color-primary */
}

/* revisit body and anchor declarations */
body {
    color: var(--text-color); /* reset color to text-color */
}

a {
    color: var(--text-color); /* reset color to text-color */
}
